
	body {
		margin: 0;
	}

	.navigasi ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #beebe9;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.navigasi img{
	border: solid #089975;
	border-radius: 30px 30px 30px 30px;
	width: 60px;
	margin-left: 20px;
	margin-top: 20px;
}
.navigasi li 
{
	margin-top: 20px;
    float: right;
}
 
.navigasi li a 
{
    display: block;
    color: #089975;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}
 
.navigasi li a:hover 
{
    background-color:white;
    transition-duration: 2s;
}
	
	hr {
			border-style: none;
			border-top-style: dotted;
			border-color: grey;
			border-width: 5px;
			width: 5%;
		}
		
	.hr1 {
		border-style: none;
		border-top-style: ridge;
		border-color: grey;
		border-width: 5px;
		width: 10%;
	}
	h1 {
		color:	#089975;
		font-size: 5rem;
		margin-top: 0;
		font-family: 'Sacramento', cursive;
	}
	
	h2 {
		color:	#089975;
		font-size: 2.5rem;
		margin-top: 0;
		font-family: 'Merriweather', serif;
	}
	
	h3 {
		color:	#089975;
		margin-top: 0;
		font-family: 'Montserrat', sans-serif;
	}
		.top {
			background-color: #beebe9;
			position: relative;
			padding-top: 100px;
			text-align: center;
		}
		
		.middle {
			background-color: #ffffff;
			margin: 0;
			text-align: center;
		}
		
		.diri {
			background-color: #ffffff;		
			margin: 50px auto;
			text-align: center;
		}
		
		.bottom {
			font-family: 'Montserrat', sans-serif;
			color:	#089975;
			background-color: #8ac6d1;
			margin: 50px;
			text-align: center;
		}
		.profile{
			width: 50%;
			margin: 50px auto;
		}
		.diri-row {
			width: 50%;
			margin: 100px auto 100px auto;
			text-align: left;
			line-height: 2;
		}
		
		.diri-img {
			border: solid #089975;
			border-radius: 150px 150px 150px 150px;
			width: 300px;
		}
		.read-img{
			width: 25%;
			float: left;
			margin-right: 30px;
		}
		.office-img{
			width: 25%;
			float: right;
			margin-left: 30px;
		}
		.computing-img{
			width: 25%;
			float: left;
			margin-right: 30px;
		}
		
.foot ul 
{
    list-style-type: none;
    margin: 0;
    padding: 10px 350px;
    overflow: hidden;
    background-color: #8ac6d1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.foot li 
{
	margin-top: 20px;
    float: right;
}
 
.foot li a 
{
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}
 
.foot li a:hover 
{
    background-color:white;
    transition-duration: 2s;
}

.footer ul 
{
    list-style-type: none;
    margin: 0;
    padding: 10px 425px;
    overflow: hidden;
    background-color: #8ac6d1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.footer li 
{
	margin-top: 20px;
    float: right;
}
 
.footer li a 
{
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}
 
.footer li a:hover 
{
    background-color:white;
    transition-duration: 2s;
}
